{% extends 'app/faculty/base.html' %}
{% block fac_link_supervisor_projects %}active{% endblock %}
{% block content %}
    <div class="d-flex justify-content-between border-bottom pb-3">
        <h2>Start new project</h2>
    </div>

    <div class="row mt-5">
        <div class="col-sm-6">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="project_title">Title</label>
                    <input type="text" name="project_title" class="form-control" aria-describedby="titleHelp"
                           placeholder="Project Title" value="{% if project %}{{ project.title }}{% endif %}" required>
                    <small id="titleHelp" class="form-text text-muted">Define a brief and clear title for your project
                    </small>
                </div>
            {% if project %}
                <div class="form-group">
                    <label for="project_proposal">Proposal Attached: </label>
                    <a href="{{ project.proposal.url }}">View Proposal</a>
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="project_proposal">Proposal</label>
                    <input type="file" class="form-control-file" id="project_proposal" name="project_proposal"
                           accept="application/msword, application/pdf" placeholder="Hello Here" required>
                </div>
                <div class="form-group">
                    <label for="project_description">Brief Description</label>
                    <textarea name="project_description" id="project_description" cols="30" rows="10"
                              class="form-control">{% if project %}{{ project.description }}{% endif %}
                    </textarea>
                    <small id="descriptionHelp" class="form-text text-muted">Provide short and explanatory description
                        for your project
                    </small>
                </div>


                <button type="submit" class="btn btn-primary">Submit Request</button>
            </form>
        </div>
    </div>

{% endblock %}