{% extends 'app/students/base.html' %}
{% load static %}
{% block std_link_events %}active{% endblock %}
{% block content %}
    <h2 class="border-bottom pb-3">Events</h2>

    {% if events %}
    {% else %}
        <div class="bg-white rounded d-flex flex-column justify-content-center align-items-center"
             style="width: 100%; height: 70vh;">
            <p class="display-4">
                <small class="text-muted">No Events Yet</small>
            </p>
        </div>
    {% endif %}
    
{% endblock %}